* {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  background-color:#e9e9e9;
}
h5{
  font-family: "Trebuchet MS";
}
/* Style the header */
.header {
  padding: 20px;
  text-align: center;
  background-color:#B0E0E6;
  border:3px solid black;
  font-family: "Trebuchet MS";
  font-size: 30px;
  margin: 5px;
}

.subheader{
  padding: 5px;
  text-align: center;
  background-color:#B0E0E6;
  border:3px solid black;
  border-radius: 5px;
  font-family: "Trebuchet MS";
  font-size: 20px;
  margin: 5px;
  
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  border:3px solid;
  border-color: black;
  margin:5px;
  margin-top:0px;
  border-top:0px;
}
  
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  background-color: #f1f1f1;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  color: black;
  font-family: "Trebuchet MS";
  font-size: 30px;
}
  
/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.content{
  padding: 5px;
}
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 5px;
  margin: 3px;
}

/* Left column */
.column.left {
  width: 33%;
}

/* Right column */
.column.right {
  width: 66%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/*post button*/
.postbutton{
  width:98%;
  margin: 5px;
  border: 3px solid black;
  background-color:#B0E0E6;
  text-align: center;
  font-family: "Trebuchet MS";
}
.box{
  border: 3px solid black;
  padding: 5px;
  margin: 5px;
}
.inputbox{
  background-color: white;
  border: 3px solid black;
  border-radius:4px;
}
.signup{}
.signupbutton{}
.login{}
.loginbutton{}
.matchtick{}