.header{
    background-color:#F1F1F1;
    overflow: hidden;
    font-family:Calibri;
    border:2px solid;
    border-color:#000 
}


.header a{
    background-color:#F1F1F1;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 50px;
    display:block;
    border-color:#000;
}


.main{
    background-color:#F1F1F1;
}