body{background-color:#F1F1F1;}

.header{
    background-color:#E9E9E9;
    overflow: hidden;
    font-family:'Trebuchet MS';
    border:2px solid;
    border-color:#000; 
}


.header a{
    background-color:#F1F1F1;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 50px;
    display:block;
    border-color:#000;
}


.main{
    background-color:#F1F1F1;
}
.main-section{}